.site_top {
    background-color: #3b3547;
    color: white;
    height: 10vh;
    min-height: 100px;
}

.site_top img {
    height: 10vh;
    min-height: 100px;
}
.site_top a {
    vertical-align: middle;
    float:inline-end;
    padding: 8vh 20px 0 0;
    color: white;
}
.page_title {
    font-size: 3em;
    text-align: center;
}
.item_selection {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}
.item_selection a {
    text-decoration: none;
    color:black;
    margin: 10px, auto;
}
.item {
    text-align: center;
    width: 30vw;
    /* border:2px solid black; */
}
.item img {
    display: block;
    margin: 5px auto;
    height: 300px;
    width: 300px;
}
#product {
    margin: 0vw 1vw;
    width: 95vw;
    
}
#product h1 {
    font-size: 3em;
    text-align: center;
}
#product .item {
    margin:auto;
    text-align: left;
}
#product img {
    height: auto;
}
#button-div {
    text-align: center;
    margin: 0vw 1vw;
    width: 95vw;
}
.flex-container {
    display: flex;
    flex: 3;
    margin: 0vw 1vw;
    width: 95vw;
}
.flex-container #div1 {
    width: 50vw;
    margin: auto;
}
.flex-container #div2 {
    width: 40vw;
    margin: auto;
}
#orderForm input{
    width:400px;
    min-width: 25vw;
}
#orderForm label {
    font-size: 1.5em;
    font-weight: bold;
}
.cartItem {
    text-align: left;
    height: 225px;
    width: 50vw;
    min-width: 300px;     
}
.cartItem h3 {
    margin:2px
}
.cartItem img {
    height: 100px;
    width: 100px;
}

.order_confirm {
    text-align: center;
}
#total {
    font-size: 4em;
    font-weight: bold;
    text-align: left;
}

#emptyCart {
    height: 300px;
    width: 50vw;
    
}